<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <link th:href="@{/style.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">


</head>

<body>
    <div class="box">

        <form action="time" method="post" >

            <label for="id"> User id: </label>
            <input type "hidden" name="id" id="id" class="form-control">
            <br>
            <label for="nome">Digite o nome do time: </label>
            <input type "text" name="nome" user="nome" required class="form-control">
            <br>
            <label for="pais">Digite o pais de origem do time: </label>
            <input type "text" name="pais" pais="pais" required class="form-control">
            <br>
            <br>
            <label for="valor_mercado">Digite o valor de mercado do time: </label>
            <input type "text" name="valor_mercado" valor_mercado="valor_mercado" require class="form-control" d>
            <br>
            <label for="valor_elenco">Digite o valor dp elenco do time: </label>
            <input type "text" name="valor_elenco" valor_elenco="valor_mercado" required class="form-control">
            <br>

            <input type="submit" value="Submit">
        </form>
    </div>
</body>

</html>