<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
    <form action="home/new/user" method="post">
        <label for ="id"> User id: </label>
        <input type "text" name="id" id="id" required>
        <label for ="username">Enter your name: </label>
        <input type "text" name="username" user="username" required>
        <label for ="password">Enter your password: </label>
        <input type "text" name="password" password="password" required>
        <input type="submit" value="Submit">
    </form>
    </body>
</html>