<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
</head>

<body>

    <div class="box">

        <form action="users/user" method="post" enctype="multipart/form-data">

            <label for="id"> User id: </label>
            <input type "hidden" name="id" id="id">
            <br>
            <label for="username">Enter your name: </label>
            <input "text" name="username" user="username" required>
            <br>
            <label for="password">Enter your password: </label>
            <input "text" name="password" password="password" required>
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>

</html>