<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cadastro</title>
    <link th:href="@{/style.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

</head>

<body>

    <div class="ball"> </div>

    <div class="box">

        
        <form action="user" method="post" enctype="multipart/form-data">

            <label for="username">New Username </label>
            <input "text" name="username" user="username" placeholder="Username" class="form-control">
            <br>
            <label for="password">New Password </label>
            <input "text" name="password" password="password" placeholder="Password" class="form-control">
            <br>
            <input type="submit" value="Register" class="butto">
        </form>
    </div>
</body>

</html>