.box{
    position: absolute;
    text-align: center;
    top: 50%;
    width: 30%;
    height:100px;
    left: 480px;
    flex-wrap: wrap;
    border: 3px solid black;
    border-radius: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    background-size: cover;
}
.box:hover{
    position: absolute;
    color: white;
    text-align: center;
    top: 50%;
    width: 30%;
    height:100px;
    left: 480px;
    flex-wrap: wrap;
    border: 3px solid white;
    border-radius: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}